body {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  font: 16px/1.5 Arial, sans-serif;
}

.structural {
  margin: 10px;
  padding: 10px;
}

h1 {
  color: #333;
  font-size: 36px;
}

h2 {
  color: #666;
  font-size: 24px;
}

main {
  height: 70vh;
}

img {
  border: 1px solid #ccc;
  width: 90%;
  height: 80%;
}

figure {
  background-color: #f0f0f0;
  width: 45%;
  height: 60%;
  margin: auto;
  padding: 10px;
}

#cat {
  float: left;
}

#dog {
  float: right;
}

section {
  clear: both;
}

figcaption {
  font-weight: bold;
  font-size: 18px;
  color: #444;
  padding: 5px;
}

a {
  color: #e65c00;
}

a:hover {
  color: #b3008c;
}

ul {
  list-style: disc;
  line-height: 1.6;
}

header, footer {
  background-color: #e2e600;
  color: #fff;
}
